// beim ersten ausführen auskommentieren und nach dem bauen des ionic packages wieder einbinden.
@import 'meteoric_ionic-sass/ionic';
@import 'meteoric_ionicons-sass/ionicons';


/*
@font-face { font-family: 'chat';
  src: url('/OldStandard-Regular.ttf') format('truetype'); }
@font-face { font-family: 'chat';
  src: url('/OldStandard-Italic.ttf') format('truetype');
  font-style: italic; }
@font-face { font-family: 'chat-bold';
  src: url('/OldStandard-Bold.ttf') format('truetype');
  font-weight: bold; }
*/

$assertive :#393197;
$primary-color: #393197;
$secondary-color: #A6A8A9;
// 393197

$black-color: black;
$black-border: lighten($black-color, 25%);

input, button , a {
  font-family: monospace;
}

button{
  font-weight: 800;
}

#sendMsg{
  font-weight: 800;
}
.menu-content {
  background-image: url('/backgroundwallpaper.png');
  padding-bottom: 40px;
}

.bar-footer {
  label.item-input {
    width: 80%;
    margin-right: 5px;
  }
}

.chat-images {
  max-width: 200px;
}

.button-positive {
  background-color: $black-color !important;
  border-color: $black-border !important;
}

.user a {
  color: $black-color !important;
  text-decoration: inherit;
}

.commentArea {
  font: 14px Arial;
  padding: 0 10px;
  margin-top: 20px;
}

.bubbledLeft, .bubbledRight {
  margin-top: 20px;
  padding: 5px 9px;
  max-width: 80%;
  clear: both;
  position: relative;
}

.bubbledLeft {
  float: left;
  margin-right: auto;
  -webkit-border-radius: 8px 8px 8px 0px;
  -moz-border-radius: 8px 8px 8px 0px;
  -o-border-radius: 8px 8px 8px 0px;
  -ms-border-radius: 8px 8px 8px 0px;
  border-radius: 8px 8px 8px 0px;
  background-color: $secondary-color;
  color: #ffffff;
}

.bubbledLeft:before {
  border-bottom: 10px solid $secondary-color;
  border-left: 9px solid rgba(0, 0, 0, 0);
  position: absolute;
  bottom: 0;
  left: -8px;
  content: "";
}

.bubbledRight {
  float: right;
  margin-left: auto;
  text-align: right;
  -webkit-border-radius: 8px 8px 0px 8px;
  -moz-border-radius: 8px 8px 0px 8px;
  -o-border-radius: 8px 8px 0px 8px;
  -ms-border-radius: 8px 8px 0px 8px;
  border-radius: 8px 8px 0px 8px;
  background-color: $primary-color;
  color: white;
}

.bubbledRight:before {
  border-bottom: 9px solid $primary-color;
  border-right: 9px solid rgba(0, 0, 0, 0);
  position: absolute;
  bottom: 0;
  right: -8px;
  content: "";
}

.menu-content {
  overflow-y: auto;
}

.bar.bar-positive {
  font-weight: 800;
  font-family: monospace;
  border-color: $black-color;
  background-color: $black-color;
  color: #fff;
}

.item {
  background-color: transparent !important;
  border-color: $black-border !important;
}

.input-message {
  background-color: #ffffff !important;
}

.item-icon-right .icon {
  right: inherit;
  position: relative;
  font-size: 32px;
}

.list .item .col {
  padding-bottom: 0px;
  padding-top: 0px;
}

.statusButton {
  border-color: $black-color !important;
}

h1, h2 {
  font-weight: lighter !important;
  font-family: monospace;
}

div, small, option, select,button {
  font-family: monospace;
}

.header-button {
  border-color: black !important;
}
.ion-arrow-left-b:before {
  font-size: 32px !important;
}

#sendMsg {
  font-weight: lighter !important;
  color: #ffffff !important;
  background-color: $assertive !important;
}
/*
$assertive :#393197;
.button-float{
  background: $assertive !important;
  border-color: $assertive !important;
  color:white !important;
  z-index: 12 !important;
  position: absolute !important;
  bottom: 5px !important;
  border-radius: 50% !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
  -webkit-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
  -webkit-transition: 0.2s linear !important;
  transition: 0.2s linear !important;
  -webkit-transition-property: -webkit-transform, all !important;
  transition-property: transform, all !important;

}

.button-float:hover{
  -webkit-transform: translate3d(0, -1px, 0)  !important;
  transform: translate3d(0, -1px, 0) !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4) !important;
  background: darken($assertive, 10%) !important;
}

.footer-trans {
  background-color: transparent;
  border-color: transparent;
}

*/
#room img {
  border: 2px solid $assertive !important;
}

#room h2 {
  white-space: initial !important;
}

.profile-image {
  border: 2px solid $assertive !important;
}
.item {
  background-color: transparent !important;
  border-color: $assertive  !important;
}

.bar-footer label.item-input{
  background-color: #ffffff !important;
}
#msg {
  background-color: #ffffff;
}
.interaction {
  padding-left: 10px !important;
}


.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) {
  height: 64px;
  margin-top: -20px;
}
